{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <section class="banner bg-1" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 align-self-center">
                    <!-- Contents -->

                    <div class="content-block">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h1>
                            <span style="color: rgba(0,0,0,.7);"> tech</span>
                            <span class="moto">সমাজে স্বাগতম... </span>
                        </h1>
                        <p class="moto2">

                            নিশ্চিন্তে সেরা টেকনোলোজি গ্যাজেট কেনার সবচেয়ে বিশ্বস্ত উপায় &nbsp
                            <i class="icofont-ui-love"></i>
                        </p>

                        <!-- App Badge -->
                        <div class="app-badge">
                            <ul class="social-icons list-inline">
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://facebook.com/techsomaj"><i
                                            class="text-secondary ti-facebook"></i></a>
                                </li>

                                <li class="list-inline-item">
                                    <a target="_blank" href="https://youtube.com/durjoy"><i
                                            class="text-secondary ti-control-play"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://instagram.com/techsomaj"><i
                                            class="text-secondary ti-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://www.tiktok.com/@techsomaj"><i
                                            class="text-secondary ti-music"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- App Image -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
<div class="card" data-tilt data-tilt-scale="0.95" data-tilt-startY="40">

  <div class="year">
    Claim your free gift <i class="icofont-gift"></i>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js'></script><script  src="./script.js"></script>


                </div>
            </div>
        </div>
        </div>
    </section>

    <!--====  End of Homepage Banner  ====-->

    <!--===========================
=            About/gift            =
============================-->

    <!--====  End of About  ====-->

{% endblock %}