<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<!-- SITE TITTLE -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>techsomaj.com</title>

	<!-- PLUGINS CSS STYLE -->
	<!-- Bootstrap -->
	<link href= "{% static 'plugins/bootstrap/bootstrap.min.css'%} " rel="stylesheet">
	<!-- themify icon -->
	<link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
	<!-- Slick Carousel -->
	<link href="{% static 'plugins/slick/slick.css' %}" rel="stylesheet">
	<!-- Slick Carousel Theme -->
	<link href="{% static 'plugins/slick/slick-theme.css' %}" rel="stylesheet">

	<!-- CUSTOM CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/search.scss' %}" rel="stylesheet">
	<!-- icofont -->
	<!-- icofont -->
	<link rel="stylesheet" type="text/css" href="{% static 'icofont.min.css' %}">
	<!-- FAVICON -->
	<link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

</head>

<body class="body-wrapper">


	<nav class="navbar main-nav fixed-top navbar-expand-lg large">
		<div class="container">
			<a class="navbar-brand" href="#">
				<span class="tech">tech</span>
				<span class="somaj">সমাজ</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="ti-menu text-white"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link scrollTo" href="#home">Luxury</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scrollTo" href="gifts.html">Free Gifts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scrollTo" href="#feature">Gadgets</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scrollTo" href="#pricing">Price list</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scrollTo" href="#team">Contact us</a>
					</li>

					<li class="nav-item">
						<a class="nav-link scrollTo" href="#contact">Sell with us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

		<!-- Your Chat plugin code -->
		<div id="fb-customer-chat" class="fb-customerchat">
		</div>

		<script>
			var chatbox = document.getElementById('fb-customer-chat');
			chatbox.setAttribute("page_id", "107237608410681");
			chatbox.setAttribute("attribution", "biz_inbox");

			window.fbAsyncInit = function () {
				FB.init({
					xfbml: true,
					version: 'v12.0'
				});
			};

			(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<!-- Messenger chat plugin ends-->
	<!--=====================================
=            Homepage Banner            =
======================================-->
<div>
    {% block content %}

    {% endblock %}
</div>


    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mr-auto">
                    <div class="footer-logo">
                        <span class="tech">tech</span>
                        <span class="somaj">সমাজ</span>					</div>
                    <div class="copyright">
                        <p>@2022 Techsomaj All Rights Reserved | Design and Developed By : <a
                                href="https://techsomaj.com/" target="_blank">Techsomaj</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <!-- Social Icons -->
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://facebook.com/techsomaj"><i
                                    class="text-secondary ti-facebook"></i></a>
                        </li>

                        <li class="list-inline-item">
                            <a target="_blank" href="https://youtube.com/durjoy"><i
                                    class="text-secondary ti-control-play"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://instagram.com/techsomaj"><i
                                    class="text-secondary ti-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://tiktok.com/techsomaj"><i
                                    class="text-secondary ti-music"></i></a>
                        </li>
                    </ul>
                    <!-- Footer Links -->
                    <ul class="footer-links list-inline">
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#about">ABOUT</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#team">TEAM</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>




    <!-- JAVASCRIPTS -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async
            defer></script>

    <script src="plugins/jquery/jquery.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>